$main-bg-color: #160f29
$secondary-bg-color: #586F7C
$main-font-color: #368F8B

body
	background-color: $main-bg-color
	color: $main-font-color
	font-size: 14px
	height: 100vh
	font-family: 'Indie Flower', cursive
	padding: 0
	margin: 0
	background: #160f29
	background: -moz-linear-gradient(top,  #160f29 0%, #246a73 100%)
	background: -webkit-linear-gradient(top,  #160f29 0%,#246a73 100%)
	background: linear-gradient(to bottom,  #160f29 0%,#246a73 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#160f29', endColorstr='#246a73',GradientType=0 )

header
	width: 100%
	text-align: center
	color: #368F8B
	
	div
		vertical-align: center
		box-sizing: border-box
		width: 33%
		padding: 5px 10px
		margin-left: -4px
		display: inline-block
		border: 0px solid red
main
	padding: 20px

.feelings-wrapper
	border: 0px solid red
	font-size: 1em
	text-align: center
	div 
		transform: rotate(45deg)
		transition: background-color 1s ease
		cursor: pointer
		vertical-align: center
		box-sizing: border-box
		height: 80px
		width: 80px
		border: 0px solid gray
		padding: 10px 10px
		display: inline-block
		margin: 25px
		
		label
			cursor: pointer
			display: block
			position: relative
			top: calc(50% - 12px)
			left: calc(50% - 42px)
			width: 80px
			border: 0px solid red
			transform: rotate(-45deg)
		&:hover
			font-weight: bold
			font-color: #160F29 !important
			background-color: $main-font-color
			background: #246a73
			background: -moz-radial-gradient(center, ellipse cover, #246a73 0%, #160f29 100%)
			background: -webkit-radial-gradient(center, ellipse cover, #246a73 0%,#160f29 100%)
			background: radial-gradient(ellipse at center, #246a73 0%,#160f29 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#246a73', endColorstr='#160f29',GradientType=1 )
			



.feel-anger
.feel-anticipation
.feel-disgust
.feel-fear
.feel-joy
.feel-sadness
.feel-surprise
.feel-trust
.feel-aggressiveness
.feel-optimism
.feel-contempt
.feel-alarm
.feel-love
.feel-remorse
.feel-disappointment
.feel-submission
.feel-pride
.feel-hope
.feel-cynicism
.feel-despair
.feel-guilt
.feel-envy
.feel-unbelief
.feel-curiosity
.feel-dominance
.feel-anxiety
.feel-morbidness
.feel-shame
.feel-outrage
.feel-sentimentality
.feel-delight
.feel-pessimism
.feel-rest
