// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.category{
	&-item{
		border: 1px solid gray;
		padding: 5px;
		width: 100px;
		height: 100px;
		
		margin: 10px;
		border-radius: 50px;
		text-align:center;
	}

}