%header
	.logo
		thoughts
	.menu
		home
		search
		about
	.login
		sign in

%main	
.feelings-wrapper
	.feel-anger
		anger
	.feel-anticipation
		anticipation
	.feel-disgust
		disgust
	.feel-fear
		fear
	.feel-joy
		joy
	.feel-sadness
		sadness
	.feel-surprise
		surprise
	.feel-trust
		trust
	.feel-aggressiveness
		aggressiveness
	.feel-optimism
		optimism
	.feel-contempt
		contempt
	.feel-alarm
		alarm
	.feel-love
		love
	.feel-remorse
		remorse
	.feel-disappointment
		disappointment
	.feel-submission
		submission
	.feel-pride
		pride
	.feel-hope
		hope
	.feel-cynicism
		cynicism
	.feel-despair
		despair
	.feel-guilt
		guilt
	.feel-envy
		envy
	.feel-unbelief
		unbelief
	.feel-curiosity
		curiosity
	.feel-dominance
		dominance
	.feel-anxiety
		anxiety
	.feel-morbidness
		morbidness
	.feel-shame
		shame
	.feel-outrage
		outrage
	.feel-sentimentality
		sentimentality
	.feel-delight
		delight
	.feel-pessimism
		pessimism
	.feel-rest
		rest